.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WeeklyChart {
  width: 50%;
  position: relative;
}

.AddButton {
  position: absolute;
  top: 40px;
  right: 0px;
  margin-right: 5px;
}

.AnnualChart {
  margin-top: 30px;
  width: 400px;
}

.ControlsPannel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (max-width: 1050px) {
  .WeeklyChart {
    width: 75%;
  }

  .ControlsPannel {
    width: 75%;
  }

  .AnnualChart {
    margin-top: 40px;
    width: 350px;
  }
}
